/*body{

	padding: 0;
	margin: 0;
	overflow-y: scroll;
	font-family: Arial;
	font-size: 18px;
} */

#topnav_wrap {
   background-color: #282828;
   border-bottom: 1px solid #333333;
   width: 100%;
   line-height: 1.1em;
   height: 30px;
 }

#welcome-message{

   font-size: 14px;
   display: inline;
   color:#FFCC00;
   text-decoration: underline;
   padding-left: 10px;

}

 #topnav {
   
   margin: auto;
   padding-top: 6px;
   font-size: 14px;
   background-color: #282828;
   border-bottom: 1px solid #333333;
   width: 100%;
   line-height: 1.1em;
   height: 30px;
 }

 #topnav a {
   text-decoration: none;
   float:middle;
   color: #bbbbbb;
 }

 #topnav a:hover {
   color: #ffcc00;
 }

 #topnav h3 {
   display: none;
 }

 #topnav ul.menu {
   float: right;
   padding-top: 0px;
   padding-bottom: 0px;
   margin-right: -11px;
 }

 #topnav ul.menu li {
   display: inline;
   padding-left: 12px;
   padding-right: 12px;
   border-left: 1px solid #666666;
 }

 #topnav ul.menu li:first-child {
   border: 0;
   color:#FFCC00;
 }

 #topnav ul.menu li:first-child  a{
   color:#FFCC00;
 }

 #topnav img {
   height:14px;
   vertical-align:middle;
 }

#menu{
	max-height: 30px;
	padding-right: 2px;
	margin-right: 1px;


}
 .moduletable {
   overflow: hidden;
   margin-bottom: 0px;
 }


.navbar-width {
	width:100%;
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;

}

/*vertical line divider between the two logos*/
.logohub{
	margin-top:10px;
	padding-left:5px;
	border-left: 1px solid #777;
}


#nav ul a:hover{
	background-color: #333;
}

#nav li:hover > a, #nav li a.active {
  background-color: #333;
  cursor:pointer;
}

/*dropdown sub menu for navigation bar*/
#nav ul ul{
  display: none;
  position: absolute;
  background-color: #333;
  color: #ffcc00;
  border: 4px solid #222;

}

#nav ul li{
	display: inline-block;
}

/*keeps menu item style while hovering sub menu */
#nav ul li:hover > a{
	background-color: #333;
    color: #ffcc00;
    text-decoration: underline;
}

/*vertical dropdown menu */
#nav ul li:hover ul{
	display: inline-block;
	left: 2px;
}
#nav  ul ul li{
  display: block;
}
#nav ul ul li a:hover{
  color: #099;
}

#nav ul ul li a,visited{
  color: #ccc;
}

#footer{
  height: 100px;
  width:100%;
  margin-top: 40px; 
  background-color: black;
  margin-bottom: 0px;

  bottom:0;
  text-align: center;
}



#graph-side-panel {
  height: 300px;
  width: 250px;
  float: right;
  display:inline;
  background-color: green;
}


#timeline, #graph-table, .line-separator{
	border: 1px;
	float: left;
	min-height: 400px;
}


#timeline { 
  width: 100%; 

  display: inline-block;
  /*width: 65%;
  height: 320px; 
  border-right: 3px solid;*/
}

.line-separator{
	background-color: #428BCA;
	width: 2px;
	margin-left: 20px;
}

#graph-table {
	float: right;
	width: 35%;
	display: inline-block;


	/*
	width: 45%;
	height: 320px;*/
} 

#bottom_list{
  height: 100px;
  /*display: block; 
  background-color: red; */
  margin-top: 300px;
  width: 100%;
  
}
#footer-text {
  font-size: 15px;
  color: white;

}
#page-title:after {
    content:' ';
    display:block;
    border:1px solid black;
}



.sign-in{
	float: right;
	/*vertical-align: middle;*/
	margin-top: 1.5%;
	display: inline-block;
}




#menu{
	max-height: 30px;

}


#wrapper{
	position: relative;
	min-height:100%;

}


#content {
	padding:10px;
	padding-bottom:80px;   /* Height of the footer element */
}

/*forces the footer to the bottom of the page*/
.footer{
	
	position: absolute;
	background-color: #111111;
	width: 100%;
	height: 80px;
	bottom: 3;
	left: 0;
	text-align: center;
	border-top: 3px solid #ffcc00;
}

#footer-text {
  font-size: 15px;
  color: #FFCC00;
  text-decoration: underline;

}


label.field {

  text-align: right;
  width : 100px;
  float: left;
  font-weight: normal;
  padding-right: 8px;

}



